
<div class="container">
	<div class="row mb-3">
		<div class="col-md-12">
		    <img class="img-fluid" [src]="car.image">
		</div>
	</div>
</div>

<div class="container">
	<div class="row mb-2">
		<div class="col-md-8">
		    <div class="card">
		        <div class="card-body">
		            <div class="row">
            		<div class="col-md-12">
            		    <h4 class="text-danger">Details</h4>
            		    <hr>
            		</div>
            	</div>
<div class="row mb-4">
    <div class="col-md-3">
        <h5 class="text-secondary">Marque</h5>
        <h6>{{car.marque}}</h6>
    </div>
    <div class="col-md-3">
        <h5 class="text-secondary">Nbr Sièges</h5>
        <h6>{{car.n_sieges}}</h6>
    </div>
    <div class="col-md-3">
        <h5 class="text-secondary">Couleur</h5>
        <h6>{{car.couleur}}</h6>
    </div>
    <div class="col-md-3">
        <h5 class="text-secondary">Matricule</h5>
        <h6>{{car.n_immatriculation}}</h6>
    </div>
</div>

                </div>
            </div>
        </div>
    </div>
</div>
